<!--{% load static %}

<h3>Hellow World!</h3>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <title>Renu Velhal</title>
    <link
      href="{% static '/css/main.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-body"></div>
        </div>
        <div class="col-md-9">
          <div class="card card-body"></div>
        </div>
      </div>
    </div>
  </body>
</html>
-->
<!--{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Renu Velhal</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-body" id="profilw-wrapper"></div>
          <img id="profile-pic" src="{%static 'images/Renu.jpg' %}" />
          <hr />
          <h4>Hi I'm Renu Velhal</h4>
          <p>
            I am a graduate student at California State University, Fullerton
          </p>
        </div>
        <div class="col-md-9">
          <div class="card card-body "></div>

          <p>
            As a beacon of innovation in the realm of software development, I,
            Renu Velhal, navigate the intricate pathways of code with a
            steadfast dedication and a proven track record of excellence. My
            journey has been a blend of academic rigor and practical expertise,
            highlighted by my pursuit of a Master of Science in Computer Science
            at California State University, Fullerton. 
            <p>My tenure as a Python
            Developer at Capgemini Technology Services India Limited honed my
            skills in serverless architecture and web application development,
            where I significantly enhanced service execution and security
            measures. With an analytical mind and meticulous attention to
            detail, I take pride in developing applications that are not only
            robust and scalable but also align with the forefront of technology
            trends.</p>
          </p>
          <p>
            Beyond my technical acumen, I delve into the harmonious world of
            music, the exploration of science, and the continual growth of my
            financial acumen. I am driven by the quest for knowledge and the
            aspiration to make a tangible impact on the world through my work in
            technology.
          </p>

          <p>
            I warmly invite you to explore the landscape of my projects and
            welcome your insights and dialogue.
          </p>
          
          
        </div>
      </div>
      <br />
      <p class="row">
        <div class="col-md-6">
          <div class="card card-body "></div>
          <h5>My experience as a developer</h5>
          <hr>
          <p>Steering complex software solutions with a blend of analytical prowess and technical agility, I have anchored my career in deploying scalable web applications and fortifying server architecture, reflecting a deep-seated commitment to innovation and security.</p>
          <p>My foray into Python development and IT consulting is marked by a passion for creating impactful technological interfaces and a drive to continually advance the frontier of efficient system performance.</p>
        </div>
        <p class="col-md-6">
          <div class="card card-body "></div>
            <h5>What I know</h5>
           <hr>
            <p>Languages: Python, Java, C, C++, Solidity, JavaScript, HTML, CSS</p>
            <p>Databases: PostgreSQL, MySQL</p>
            <p>Visualization: Tableau, Matplotlib, Seaborn
            <p>Libraries: NumPy, Pandas, TensorFlow, Keras, PyTorch, Open-CV, scikit-learn, GloVe, jQuery, D3.js, Node.js, Mongoose</p>
            <p>Tools and Technologies: Jira, Hadoop, Apache Spark, Blockchain, Machine Learning, Computer Vision, Artificial Intelligence, Deep Learning, Big Data, MongoDB, Express.js, Angular, Django, React, Active Directory, Flask, Ansible, Git, Jenkins</p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
            <div class="card card-body ">
                <h5>Contact</h5>
            <hr>
            <p>Email Id: renuvelhal@gmail.com</p>
            </div>
        </div>
        
      </div>
      <br />
    </div>
  </body>
</html>
-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Renu Velhal</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <br />
      <div class="row">
        <div class="col-md-3">
          <div class="card card-body h-100 border-info" id="profile-wrapper">
            <img
              id="profile-pic"
              src="{% static 'images/Renu.jpg' %}"
              alt="Renu Velhal"
              class="img-fluid"
            />
            <hr />
            <h4>Hi, I'm Renu Velhal</h4>
            <p>
              I am a graduate student at California State University, Fullerton.
            </p>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card card-body h-100 border-info">
            <p>
              As a beacon of innovation in the realm of software development, I,
              Renu Velhal, navigate the intricate pathways of code with a
              steadfast dedication and a proven track record of excellence. My
              journey has been a blend of academic rigor and practical
              expertise, highlighted by my pursuit of a Master of Science in
              Computer Science at California State University, Fullerton.
            </p>
            <p>
              My tenure as a Python Developer at Capgemini Technology Services
              India Limited honed my skills in serverless architecture and web
              application development, where I significantly enhanced service
              execution and security measures. With an analytical mind and
              meticulous attention to detail, I take pride in developing
              applications that are not only robust and scalable but also align
              with the forefront of technology trends.
            </p>
            <p>
              Beyond my technical acumen, I delve into the harmonious world of
              music, the exploration of science, and the continual growth of my
              financial acumen. I am driven by the quest for knowledge and the
              aspiration to make a tangible impact on the world through my work
              in technology.
            </p>
            <p>
              I warmly invite you to explore the landscape of my projects and
              welcome your insights and dialogue.
            </p>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>My Experience as a Developer</h5>
            <hr />
            <p>
              Steering complex software solutions with a blend of analytical
              prowess and technical agility, I have anchored my career in
              deploying scalable web applications and fortifying server
              architecture, reflecting a deep-seated commitment to innovation
              and security.
            </p>
            <p>
              My foray into Python development and IT consulting is marked by a
              passion for creating impactful technological interfaces and a
              drive to continually advance the frontier of efficient system
              performance.
            </p>
          </div>
        </div>
        <div class="col-md-6 h-100">
          <div class="card card-body">
            <h5>What I Know</h5>
            <hr />
            <p>
              Languages: Python, Java, C, C++, Solidity, JavaScript, HTML, CSS
            </p>
            <p>Databases: PostgreSQL, MySQL</p>
            <p>Visualization: Tableau, Matplotlib, Seaborn</p>
            <p>
              Libraries: NumPy, Pandas, TensorFlow, Keras, PyTorch, Open-CV,
              scikit-learn, GloVe, jQuery, D3.js, Node.js, Mongoose
            </p>
            <p>
              Tools and Technologies: Jira, Hadoop, Apache Spark, Blockchain,
              Machine Learning, Computer Vision, Artificial Intelligence, Deep
              Learning, Big Data, MongoDB, Express.js, Angular, Django, React,
              Active Directory, Flask, Ansible, Git, Jenkins
            </p>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body">
            <h5>Contact</h5>
            <hr />
            <p>Email Id: renuvelhal@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
